html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  color: #cbe3ff;
  font-family: "Plus Jakarta Sans", serif;
  background-color: #1e2835;
}

header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 0px 200px 0;
}

header::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("https://plus.unsplash.com/premium_photo-1666700698920-d2d2bba589f8?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  opacity: 0.2;
}

header h1 {
  position: relative;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 70px;
}

header span {
  position: relative;
  text-align: center;
  font-size: 0.75em;
  font-weight: 200;
  font-style: italic;
}

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.image {
  display: block;
  height: auto;
  margin: 8px 8px 0 8px;
  transition: 1s ease-out;
}

.image img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  transition: 1s ease-out;
  border-radius: 10px;
  object-position: 0 20%;
}

bold {
  font-weight: 600;
}

.image:hover {
  transform: scale(1.05);
  transition: 1s ease;
}

.image:hover img {
  transition: 1s ease;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #1888f2;
  color: #1c2530;
  font-size: 20px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #007be4;
}

footer {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  padding: 15px;
}

footer a {
  text-decoration: none;
  color: #cbe3ff;
  font-weight: 800;
}

footer a :after {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header h1 {
    text-align: center;
    font-size: 2.1em;
  }

  .image img {
    width: 300px;
    height: 200px;
  }

  header span {
    font-size: 0.6em;
  }

  footer {
    font-size: 0.6em;
  }
}
