html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  color: #000000;
  font-family: "Plus Jakarta Sans", serif;
  background: rgb(238, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(238, 212, 255, 1) 0%,
    rgba(255, 210, 210, 1) 50%,
    rgba(255, 223, 177, 1) 100%
  );
}

header {
  position: relative;
  text-align: center;
  padding: 10px 0px 100px 0;
}

header h1 {
  position: relative;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 60px;
}

header span {
  position: relative;
  text-align: center;
  font-size: 0.75em;
  font-weight: 200;
  font-style: italic;
}

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
}

.image {
  display: block;
  height: auto;
  margin: 0px 8px 10px 8px;
  transition: 1s ease-out;
}

.image img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  transition: 1s ease-out;
  border-radius: 10px;
  object-position: 0 20%;
}

bold {
  font-weight: 600;
}

.image:hover {
  transform: scale(1.05);
  transition: 1s ease;
}

.image:hover img {
  transition: 1s ease;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #eed4ff;
  border: 1px solid black;
  color: #1c2530;
  font-size: 20px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #e6c0ff;
}

footer {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  padding: 15px;
}

footer a {
  text-decoration: none;
  color: #000000;
  font-weight: 800;
}

footer a :after {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header h1 {
    text-align: center;
    font-size: 1.8em;
  }

  .image img {
    width: 300px;
    height: 200px;
  }

  header span {
    font-size: 0.6em;
  }

  button {
    font-size: 13px;
  }

  footer {
    font-size: 0.6em;
  }
}
